.panel-footer {
  position: relative;
  clear: both;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #474C48;
  text-align: center;
  color: white;
}

body {
  background-image: url("../images/dustscratches.png");
 }
ul li {
    display: inline;
    list-style-type: none;
}
